.link {
  text-decoration: none;
  color: #0071c2;
}

.link:hover {
  color: #bc5b01;
}

.heart-icon {
  color: gray;
  font-size: 22px;
}

.heart-icon-favorite {
  color: #d32f2f;
  font-size: 22px;
}

.heart-icon:hover {
  cursor: pointer;
  color: #d32f2f;
}
